<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\DbDeployment\packages.config" />
  <repository path="..\src\PingPongPro.Data\packages.config" />
  <repository path="..\src\PingPongPro.Domain.Test\packages.config" />
  <repository path="..\src\PingPongPro.Presentation.Test\packages.config" />
  <repository path="..\src\PinPongPro.Presentation\packages.config" />
</repositories>