<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div id="main">
                @RenderBody()    
                @RenderSection("scripts", required: false)    
            </div>
    </body>

</html>
